Before we start, run the code cell below for a nicer layout.

In [3]:
%%html
<style>
h1 { margin-top: 3em !important; }
h2 { margin-top: 2em !important; }
h3 { margin-top: 1em !important; }
#notebook-container { 
    width: 50% !important; 
    min-width: 800px;
}
</style>

<h1>World happiness 2017</h1>

The dataset `09-resources/world-happiness-2017.csv` contains the complete world happiness 
report from 2017.

In [38]:
import pandas as pd
import matplotlib.pyplot as plt

happy = pd.read_csv('09-resources/world-happiness-2017.csv', index_col=0)
happy['GDP:Capita'] /= 2 # Normalize to [0,1]
happy['Family'] /= 2     # Normalize to [0,1]
happy.head()

,Rank,Score,GDP:Capita,Family,Life Expectancy,Freedom,Generosity,Corruption
Country,,,,,,,,
Norway,1,7.537,0.808232,0.766762,0.796667,0.635423,0.362012,0.315964
Denmark,2,7.522,0.741192,0.775561,0.792566,0.626007,0.355280,0.400770
Iceland,3,7.504,0.740317,0.805287,0.833552,0.627163,0.475540,0.153527
Switzerland,4,7.494,0.782490,0.758456,0.858131,0.620071,0.290549,0.367007
Finland,5,7.469,0.721786,0.770123,0.809158,0.617951,0.245483,0.382612

> 1) Normalize the column `Score` so that they lie in the interval $[0,1]$, 1 being the highest score and 0 being the lowest

> 2) Plot the six life factors (GDP:Capita, Family, Life Expectancy, Freedom, Generosity, Corruption) against the happiness score in scatter plots

> 3) Find out the Pearson correlation coefficient of the six life factors with the happiness score.

<i>Hint: Try out the pandas dataframe methods `.mean()`, `.cov()` and `.corr()`. </i>

> 4) Compute a simple linear regression for each of the plots and draw the regression line.

<i>Hint: Matplotlib does not offer a nice way to draw infinite lines. Instead, you can draw a line between two points $(x,y)$, $(x',y')$ on that line using `.plot([x,x'],[y,y'])`. </i>